In [17]:
!pip install BS4
!pip install Requests

Requirement already satisfied: BS4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from BS4) (4.6.3)
Requirement already satisfied: Requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from Requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from Requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from Requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from Requests) (2021.5.30)

In [18]:
import requests
import json

In [19]:
response = requests.get("https://coronavirus.m.pipedream.net/", verify=False)
# print(response.status_code)
# print()

/usr/local/lib/python3.7/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [20]:
json_response = response.json()
# print(json_response)
json_response = json_response['rawData'] # get only table data
dictionary = json.dumps(json_response, sort_keys = True, indent = 4)
# print(dictionary)

In [21]:
import csv
import pandas as pd

df = pd.json_normalize(json_response)
df.head(10)

  FIPS Admin2  ...       Incident_Rate Case_Fatality_Ratio
0              ...   400.0658543347634    4.64751924694521
1              ...  6169.1569949266795  1.5827775775054074
2              ...  467.94554008669763  2.8606377224060546
3              ...  19851.161586746908  0.8475681314382579
4              ...  191.04389947772592  2.6469604548567425
5              ...     3970.2638673311  2.4434156378600824
6              ...  11665.140749765184   2.193848393189042
7              ...   9459.057232739637  2.0528445132610758
8              ...  366.97033403410416  0.7001909611712285
9              ...   879.5146587829512  0.7339038361881819

[10 rows x 14 columns]

In [22]:
# delete empty columns
df = df.drop(columns=['Recovered', 'Active'])

# delete 'FIPS', 'Admin2' columns - These are only available for regions in the US.
df = df.drop(columns=['FIPS', 'Admin2'])

# Rename the columns
df = df.rename(columns={"Lat": "Latitude", "Long_": "Longitude"})
df.head(10)

                 Province_State  ... Case_Fatality_Ratio
0                                ...    4.64751924694521
1                                ...  1.5827775775054074
2                                ...  2.8606377224060546
3                                ...  0.8475681314382579
4                                ...  2.6469604548567425
5                                ...  2.4434156378600824
6                                ...   2.193848393189042
7                                ...  2.0528445132610758
8  Australian Capital Territory  ...  0.7001909611712285
9               New South Wales  ...  0.7339038361881819

[10 rows x 10 columns]

In [23]:
df.shape

(4005, 10)

In [24]:
df = df.head(50)

In [25]:
df.to_csv("./covid.csv")